 <ion-view view-title="Home" style="font-family:sans-serif">

<ion-content has-subheader="false">
 <div ng-contoller="homeCtrl">

<div class="row">
  <div class="header"  class="img-responsive" alt="Responsive image">
      <div class="logo" class="img-responsive" alt="Responsive image"> 
         </div>
  </div>
  
</div>

<br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
              
            </div>
            <div class="col-lg-8"> 
              <div id="titlebar">
                <h1 class="heading">SenseAgri</h1>
              </div>
                <hr>
                <p class="context">
                   
                    Agriculture, with its allied sectors, is unquestionably the largest livelihood provider in India, more so in the vast rural areas. It also contributes a significant figure to the Gross Domestic Product (GDP). Sustainable agriculture, in terms of food security, rural employment, and environmentally sustainable technologies such as soil conservation, sustainable natural resource management and biodiversity protection, are essential for holistic rural development. Indian agriculture and allied activities have witnessed a green revolution, a white revolution, a yellow revolution and a blue revolution.
                  <br>
                  <br>
                    This website provides information on agriculture Products Prices on real-time basis and it simultaneously draw up the detailed analysis using visualizations such as bar graphs , pie-charts etc. We have integrated our self-engineered Machine Learning Engine that provides the prediction of future prices of commodities.
                   <br><br>
                    It takes in various parameters and perform heavy computations to find the future predictions

                    The accuracy is staggering 80% and will be improved overtime as the data grows in size
                   
</p>
            </div>
        </div>    
<br>
<hr>
<br>

<div class="content">
            <a ui-sref="graphform" style="text-decoration:none;color:black">
              <div class="row predictivehome">
                <div class="col-lg-4 col-sm-1">
                  <h1 class="heading">Predictive price analysis</h1>
                  <p class="subcontext">It is always easy to visualize the data through graphs, pie-charts etc. We analyzed this need and created our indigenous visualization engine which helps the farmers, researchers to easily read the data and to draw some logical conclusion from the required data. As we all know that the era of Artificial Intelligence is upon us and every field is now employing some kind of Machine Learning. We realized this technology in agriculture and created our very own AI algorithm which predicts the future prices of the commodities fairly accurately and improves with time.</p>
                </div>
                <br>
                <div class="col-lg-1 col-sm-1"></div>
                <div class="col-lg-6 col-sm-3">
                  <img src="img/charthome.jpg" height="auto" width="100%" alt="Responsive image">
                </div>
              </div>
           </a>   
      <br>
      <hr>
      <br>
            <a ui-sref="map" style="text-decoration:none;color:black">
              <div class="row maphome">
                  <div class="col-lg-6 col-sm-6">
                  <br>
                    <img src="img/maphome.jpg"  class="img-responsive" alt="Responsive image">
                  </div>
                  <div class="col-lg-1 col-sm-1"></div>
                  <div class="col-lg-4 col-sm-4">
                    <h1 class="heading"> map wise price distribution</h1>
                    <p class="subcontext">
                                
                                  Often we find farmers in a dilemma over the pricing issue. We identified the issue and designed our system to provide data of the nearby markets displays interactively on maps
            <br>
            Map is an easy mode of communication which convey the information in an interactive fashion and they are now being used in every sector of industry. So our system automatically detects the location of the user  , it then find out all the nearby markets in a 50 mile radius and draw up the real-time prices data on the map so the user can get a  sense of what is happening in the nearby markets . We also have a custom search feature wherein the user enter some location and find the price of commodity in the nearby markets.
            </p>
              <br>

                  </div>
              </div>
        </a>      
      <br>
      <hr>
      <br>
          <a ui-sref="research" style="text-decoration:none;color:black">
              <div class="row researchhome">
                <div class="col-lg-4 col-sm-4">
                  <h1 class="heading">research related to agriculture</h1>
                  <p class="context">Agriculture and Research go hand in hand. Research is one of the most crucial aspect of Agriculture. All the revolution like green revolution, white revolution happened only because of extensive research in these areas. The aim of this section is to provide researchers with knowledge related to their research areas which can keep them updated about any development in the field. Our research area is filled with visualizations and articles which helps the modern researcher to easily draw up conclusions regarding his interests.</p>
                </div>
                <div class="col-lg-1 col-sm-1"></div>
                <div class="col-lg-6 col-sm-6">
                <br>
                  <img src="img/research.png"  class="img-responsive" style="width:100%;" alt="Responsive image">
                </div>
              </div>
          </a>    
      <br>
</div>
<hr>
      <br><br><br><br>

    </div>
</div>

</ion-content>
</ion-view>

